In [1]:
import pandas as pd

In [31]:
c
    
    def stoneGame2(self, piles) -> int:
        n = len(piles)
        s = [0] * (n + 1)
        for i in range(n - 1, -1, -1):
            s[i] = s[i + 1] + piles[i]
        dp = [[0 for _ in range(n)] for _ in range(n)]
        for i in range(n - 1,-1,-1):
            for M in range(n):
                if i + 2 * (M+1) >= n:
                    dp[i][M] = s[i]
                    continue
                x = 1
                while x <= 2 * M:
                    dp[i][M] = max(dp[i][M],s[i] - dp[i+x][max(x,M+1)])
                    x += 1
        return dp

In [32]:
piels = [1,2,3,4,5,6,7,8,9]
dic2 = Solution().stoneGame2(piels)

In [6]:
piels = [1,2,3,4,5,6,7,8,9]
dic = Solution().stoneGameII(piels)
dic

[45, 44, 42, 39, 35, 30, 24, 17, 9, 0]
{0: defaultdict(<class 'int'>, {8: 9, 7: 17, 6: 15, 5: 15, 4: 20, 3: 19, 2: 23, 1: 22, 0: 23}), 1: defaultdict(<class 'int'>, {8: 9, 7: 17, 6: 24, 5: 30, 4: 26, 3: 22, 2: 23, 1: 22, 0: 23}), 2: defaultdict(<class 'int'>, {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 33, 1: 27, 0: 23}), 3: defaultdict(<class 'int'>, {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 36}), 4: defaultdict(<class 'int'>, {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 45}), 5: defaultdict(<class 'int'>, {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 45}), 6: defaultdict(<class 'int'>, {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 45}), 7: defaultdict(<class 'int'>, {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 45}), 8: defaultdict(<class 'int'>, {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 45})}
{0: defaultdict(<class 'int'>, {8: 0, 7: 0, 6: 9, 5: 15, 4: 15, 3: 20, 2: 19, 1: 22, 0: 22}), 1: defaultdict(<class 'int'>, {8: 0, 7: 0, 6: 0, 5: 0, 4: 9, 3: 17, 2: 19, 1: 22, 0: 22}), 2: defaultdict(<class 'int'>, {8: 0, 7: 0, 6: 0, 5: 0, 4: 0, 3: 0, 2: 9, 1: 17, 0: 22}), 3: defaultdict(<class 'int'>, {8: 0, 7: 0, 6: 0, 5: 0, 4: 0, 3: 0, 2: 0, 1: 0, 0: 9}), 4: defaultdict(<class 'int'>, {8: 0, 7: 0, 6: 0, 5: 0, 4: 0, 3: 0, 2: 0, 1: 0, 0: 0}), 5: defaultdict(<class 'int'>, {8: 0, 7: 0, 6: 0, 5: 0, 4: 0, 3: 0, 2: 0, 1: 0, 0: 0}), 6: defaultdict(<class 'int'>, {8: 0, 7: 0, 6: 0, 5: 0, 4: 0, 3: 0, 2: 0, 1: 0, 0: 0}), 7: defaultdict(<class 'int'>, {8: 0, 7: 0, 6: 0, 5: 0, 4: 0, 3: 0, 2: 0, 1: 0, 0: 0}), 8: defaultdict(<class 'int'>, {8: 0, 7: 0, 6: 0, 5: 0, 4: 0, 3: 0, 2: 0, 1: 0, 0: 0})}

{0: defaultdict(int,
             {8: 9, 7: 17, 6: 15, 5: 15, 4: 20, 3: 19, 2: 23, 1: 22, 0: 23}),
 1: defaultdict(int,
             {8: 9, 7: 17, 6: 24, 5: 30, 4: 26, 3: 22, 2: 23, 1: 22, 0: 23}),
 2: defaultdict(int,
             {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 33, 1: 27, 0: 23}),
 3: defaultdict(int,
             {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 36}),
 4: defaultdict(int,
             {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 45}),
 5: defaultdict(int,
             {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 45}),
 6: defaultdict(int,
             {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 45}),
 7: defaultdict(int,
             {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 45}),
 8: defaultdict(int,
             {8: 9, 7: 17, 6: 24, 5: 30, 4: 35, 3: 39, 2: 42, 1: 44, 0: 45})}

In [28]:
pd.DataFrame(dic).iloc[::-1]

    0   1   2   3   4   5   6   7   8
0  23  23  23  36  45  45  45  45  45
1  22  22  27  44  44  44  44  44  44
2  23  23  33  42  42  42  42  42  42
3  19  22  39  39  39  39  39  39  39
4  20  26  35  35  35  35  35  35  35
5  15  30  30  30  30  30  30  30  30
6  15  24  24  24  24  24  24  24  24
7  17  17  17  17  17  17  17  17  17
8   9   9   9   9   9   9   9   9   9

In [26]:
pd.DataFrame(dic2)

   0   1   2   3   4   5   6   7   8   9
0  0  25  25  21  36  45  45  45  45  45
1  0  22  24  27  44  44  44  44  44  44
2  0  23  20  33  42  42  42  42  42  42
3  0  19  22  39  39  39  39  39  39  39
4  0  20  26  35  35  35  35  35  35  35
5  0  15  30  30  30  30  30  30  30  30
6  0  15  24  24  24  24  24  24  24  24
7  0  17  17  17  17  17  17  17  17  17
8  0   9   9   9   9   9   9   9   9   9
9  0   0   0   0   0   0   0   0   0   0

In [25]:
dic2

[[0, 25, 25, 21, 36, 45, 45, 45, 45, 45],
 [0, 22, 24, 27, 44, 44, 44, 44, 44, 44],
 [0, 23, 20, 33, 42, 42, 42, 42, 42, 42],
 [0, 19, 22, 39, 39, 39, 39, 39, 39, 39],
 [0, 20, 26, 35, 35, 35, 35, 35, 35, 35],
 [0, 15, 30, 30, 30, 30, 30, 30, 30, 30],
 [0, 15, 24, 24, 24, 24, 24, 24, 24, 24],
 [0, 17, 17, 17, 17, 17, 17, 17, 17, 17],
 [0, 9, 9, 9, 9, 9, 9, 9, 9, 9],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]